@font-face {
  font-family: 'Belgrano';
  font-style: normal;
  font-weight: 400;
  src: local('Belgrano'), local('Belgrano-Regular'), url(GRNc1JaQ0xFKocBu6SI7lvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(9nICvxZmkDv7_ninPVYjofesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
